* {
    font-family: helvetica;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body { 
    background-color: #D5A361;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Ensure relative positioning for absolute children */
}

/* STYLING FOR DRAGON PLAYGROUND HEADER */

.headerImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    object-position: center; /* Ensure the image is centered */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* STYLING FOR TITLE */

#aboutTitle {
    position: absolute; /* Positioning to move it freely */
    top: 60%; /* Adjust as needed to move up */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 80px;
    color: #3D4C8C;
    letter-spacing: -0.3rem;
    line-height: 90%;
    z-index: 2;
}

/* STYLING FOR CONTENT */

#aboutContainer {
    background-color: #dfdac6;
    width: 100%;
    padding: 27%; /* Add padding inside the container */
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 680px; /* Push the container down */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

hr { 
    border-color: #3D4C8C;
    border-width: 0px;
    width: 100%;
}

h2 { 
    color: #3D4C8C; 
    font-size: 24px;
    text-align: left;
}

a { 
    color: #D5A361;
    font-weight: bold;
    text-decoration: none;
}

#resources { 
    color: #D5A361;
    text-align: left;
    font-size: 16px;
}

#resourcesContainer { 
    margin-top: 30px; 
    padding: 30px;
    padding-top: 20px;
    background-color: #3D4C8C;
    border-radius: 30px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 200;
    width: 100%;
    text-align: left;
}

#thisIsAWebAppPrototype {
    color: #8F3A38;
    text-align: left;

/* STYLING NAVIGATION BUTTON */

#homePage { 
    display: inline-block;
    padding: 10px 20px;
    background-color: #8F3A38;
    color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 10;
}

#homePage:hover {
    background-color: #3D4C8C;
}
