/* STYLING FOR EVERYTHING */

/*
    font-family: 'Circular Std';
    src:
      local("CircularStd"),
      url(resources/CircularStd-Book.otf) format("opentype") tech(color-COLRv1),
      url("resources/CircularStd-Book.otf") format("opentype"),
      url("resources/CircularStd-Book.woff") format("woff");

 */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: -0.01rem;
}

        
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body { 
    background-color: #D5A361;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* ensure relative positioning for absolute children */
}

.navigation {
    position: fixed;
}

/* STYLING FOR DRAGON PLAYGROUND HEADER */

.headerImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* for image to cover the container */
    object-position: center; /* for image to be center */
    position: absolute;
    left: 0;
    right: 0;
    top: -80px;
    z-index: -5;

}

/* STYLING FOR CONTENT */

#aboutContainer {
    background-color: #dfdac6; /* beige */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 400px; /* adjust to push up and down */
    box-sizing: border-box; /* includes padding in the element's total width and height */
    z-index: 1;
    padding-left: 22%;
    padding-right: 22%;
    padding-bottom: 8%;
}

hr { 
    border-color: #3D4C8C;
    border-width: 0px;
    width: 100%;
}

h2 { 
    color: #3D4C8C; 
    font-size: 24px;
    text-align: left;
    margin-bottom: 2%;
}

#primaryResearchContainer { 
    margin-top: 30px; 
    padding: 36px;
    background-color: #8F3A38;
    border-radius: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    text-align: left;
}

#primaryResearchContainer h2 { 
    font-size: 18px;
    color: #FEB52F;
}

#primaryResearchContainer b { 
    color: #FEB52F;
}

#secondaryResearchContainer { 
    margin-top: 30px; 
    padding: 36px;
    background-color: #3D4C8C;
    border-radius: 30px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    text-align: left;
}

#secondaryResearchContainer h2 { 
    font-size: 18px;
    color: #FEB52F;
}

#secondaryResearchContainer a { 
    color: #FEB52F;
    font-weight: bold;
    text-decoration: none;
}

ol { 
    color:#3D4C8C;
    font-weight: 500;
    line-height: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

ul { 
    line-height: 100%;
    padding-left: 3%;
    padding-right: 5%;
    padding-top: 3px;
}

ul li {
    padding-left: 1%;
    padding-bottom: 2%;
}

ol li {
    padding-left: 1%;
    padding-bottom: 0%;
    font-weight: 700;
}

#aboutTitle {
    text-align: center;
    font-size: 100px;
    color: #3D4C8C;
    letter-spacing: -0.2rem;
    z-index: 1;
    line-height: 85%;
    margin-bottom: 5%;
}

#thisIsAWebAppPrototype {
    color: #8F3A38;
    text-align: left;
}

/* STYLING NAVIGATION BUTTON */

#homePage { 
    display: inline-block;
    padding: 10px 20px;
    background-color: #8F3A38;
    color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    z-index: 5;
    top: 30px;
    left: 30px;
}

#homePage:hover {
    background-color: #3D4C8C;
}

.hyperlink { 
    color: #3D4C8C;
    font-weight: bold;
    text-decoration: none;
}

a { 
    color: #3D4C8C;
    font-weight: bold;
    text-decoration: none;
}