*{
    font-family: helvetica;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navigation {
    position: fixed;
}

.header-container {
    height: 390px; /* Adjust the height as needed */
    overflow: hidden; /* Ensures the sides of the image get cut off if necessary */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-image {
    margin-top: -70px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
    object-fit: cover; /* Ensures the image covers the container and is centered */
}

h1 {
    text-align: center;
    font-size: 100px;
    color: #3D4C8C;
    letter-spacing: -0.3rem;
    margin-top: -20px;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #2e2a2a;
    letter-spacing: -0.03rem;
    margin-top: -50px;

}

h4 {
    text-align: center;
    font-size: 18x;
    font-weight: 580;
    color: #2e2a2a;
    letter-spacing: -0.01rem;
    margin-top: 40px;
    margin-bottom: 20px;

}

body {
    background-color: #D5A361;
}

#alertContainer {
    background-color: #8F3A38; /* Blue background */
    border-radius: 40px; /* Rounded corners */
    padding: 30px;
    color: #ffffff; /* White text */
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    text-align: left;
}

#alertContainer .near-text {
    color: #FEB52F; /* Yellow text for "You're near" */
}

#alertContainer h3 {
    margin-top: 20;
}

#alertContainer p {
    margin-bottom: -10px;
}

#alertContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for images */
}

#alertContainer a {
    color: #D5A361; /* Yellow color for links */
    text-decoration: none;
}

#alertContainer a:hover {
    text-decoration: underline;
}

#alertContainer button {
    background-color: #FEB52F; /* Yellow background */
    color: #8F3A38; /* Blue text */
    border: none;
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: -0.01rem;
    font-weight: 550;
}

#alertContainer button:hover {
    background-color: #f2ad2e; /* Slightly darker yellow on hover */
}


#aboutPage { /* Style for the button */
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #3D4C8C; /* Blue button background color */
    color: #FFFFFF; /* Button text color */
    border-radius: 20px; /* Rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline from link */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    position: fixed; /* Positioning */
    top: 30px; /* Adjust positioning from top */
    left: 30px; /* Adjust positioning from left */
    z-index: 4
}

#aboutPage:hover {
    background-color: #8F3A38; /* Red color on hover */
}

.legalDisclaimer { 
    font-size: 12px;
    margin-top: 10px;

}

h5.legalDisclaimer { 
    font-size: 16px;
    margin-bottom: 10px;
}

#legalDisclaimer-container {
    margin: 50px;
    padding: 30px;
    background-color: #3D4C8C; 
    border-radius: 50px; /* Rounded corners */
    color: #ffffff; /* White text */
}
