/* STYLING FOR EVERYTHING */
* {
    font-family: helvetica;
    margin: 0;
    padding: 0px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body { 
    background-color: #D5A361;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Ensure relative positioning for absolute children */
}

.navigation {
    position: fixed;
}

hr { 
    border-color: #3D4C8C;
    border-width: 1px;
    width: 30%;
}

/* STYLING FOR DRAGON PLAYGROUND HEADER */
.headerImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
    object-position: center; /* Ensure the image is centered */
    position: absolute;
    left: 0;
    right: 0;
    top: -50px; /* Shift up by another 30px, total of 50px */
    z-index: -5;

}

/* STYLING FOR TITLES */
h1 {
    text-align: center;
    font-size: 100px;
    color: #3D4C8C;
    letter-spacing: -0.4rem;
    line-height: 50%;
    z-index: 1;
}

h2 {
    position: relative;
    font-size: 40px;
    color: #2e2a2a;
    letter-spacing: -0.03rem;
    text-align: center;
    line-height: 50%;
    z-index: 1;
}

h3 {
    position: relative;
    font-size: 18px;
    color: #2e2a2a;
    letter-spacing: -0.01rem;
    font-weight: 580;
    text-align: center;
    z-index: 1;
}

h4 {
    font-size: 18px;
    letter-spacing: -0.01rem;
    padding: 5px;
    text-align: left;
    margin: 0; /* Remove default margin */
}

#alertContainer {
    background-color: #8F3A38; /* Blue background */
    border-radius: 40px; /* Rounded corners */
    padding: 30px;
    color: #ffffff; /* White text */
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
    align-items: left;
}

#alertContainer .near-text {
    color: #FEB52F; /* Yellow text for "You're near" */
    margin-left: -0.45rem;
}

#alertContainer h4 {
    margin: 10px;
}

#alertContainer p {
    margin: 10px;
}

#alertContainer img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Rounded corners for images */
}

#alertContainer a {
    color: #D5A361; /* Yellow color for links */
    text-decoration: none;
}

#alertContainer a:hover {
    text-decoration: underline;
}

#alertContainer button {
    background-color: #FEB52F; /* Yellow background */
    color: #8F3A38; /* Blue text */
    border: none;
    border-radius: 20px; /* Rounded corners */
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    letter-spacing: -0.01rem;
    font-weight: 550;
    margin: 3px;
}

#alertContainer button:hover {
    background-color: #f2ad2e; /* Slightly darker yellow on hover */
}

#aboutPage { /* Style for the button */
    display: inline-block;
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #3D4C8C; /* Blue button background color */
    color: #FFFFFF; /* Button text color */
    border-radius: 20px; /* Rounded corners */
    text-align: center;
    text-decoration: none; /* Remove underline from link */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold; /* Make the text bold */
    position: fixed; /* Positioning */
    top: 30px; /* Adjust positioning from top */
    left: 30px; /* Adjust positioning from left */
    z-index: 5;
}

#aboutPage:hover {
    background-color: #8F3A38; /* Red color on hover */
}

.legalDisclaimer { 
    font-size: 12px;
    margin-top: 0px;
}

h5.legalDisclaimer { 
    font-size: 16px;
    margin-bottom: 10px;
}

#legalDisclaimer-container {
    padding: 40px;
    padding-top: 0px;
    /* background-color: #3D4C8C; */
    border-radius: 50px; /* Rounded corners */
    color: #3D4C8C;
}

#map { 
    width: 95%; /* Ensure the map takes full width */
    height: 100%; /* Ensure the map takes full height */
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
    z-index: 1; /* Ensure the map is above other elements */
}

#backgroundContainer {
    background-color: #dfdac6;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px; /* Adjust to push the container up by another 30px, total of 50px */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    z-index: 1;
}

/* STYLING INFO WINDOWS */
.info-window-content {
    background-color: #3D4C8C;
    color: #D5A361;
    padding: 20px;
    border-radius: 20px;
    position: relative; /* Ensure relative positioning for the custom close button */
}

.info-window-content h4 {
    margin-top: 0;
    margin-left: -0.4rem;
    color: #FEB52F; /* Ensure the h4 color is set */
}

.info-window-content p {
    color: #FEB52F; /* Ensure the paragraph color is set */
}

.custom-close-button {
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    right: 10px; /* Adjust the right position as needed */
    color: #D5A361;
    font-size: 20px; /* Adjust font size as needed */
    cursor: pointer;
}

/* Hide the default close button and its white box */
.gm-style-iw-t::after, .gm-ui-hover-effect {
    display: none !important;
}

/* Hide the default white background box */
.gm-style-iw {
    background: none !important;
    padding: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    max-width: none !important;
    max-height: none !important;
    overflow: visible !important;
}

/* Additional styling to ensure the info window container doesn't have extra space */
.gm-style-iw-d {
    overflow: visible !important;
    max-width: none !important;
    max-height: none !important;
}
